@import url("../utils/utils.css");
@import url("../utils/components.css");

h1 {
    color: white;
}

html, body {
    overflow: scroll;
}

.form-div {
    margin-top: -2em;
    border: solid 1px rgb(255, 255, 255, 0.5);
    padding: 30px 45px;
    border-radius: 20px;
    background-color: rgb(0, 0, 0, 0.6);
}