/*COMPONENTS FOR TRAVIA PROJECT*/

/*VARIABLES*/
:root {
    --white: rgba(255, 255, 255, 0.8);
    --black: rgb(0, 0, 0, 0.8);
    --blue: #3d58b9;
    --pink: #b43e8f;
    --purple: #6200b3;
}

* {
    font-family: Arial;
}

.blue-pink-gradient {
    background: linear-gradient(
        45deg,
        var(--blue),
        var(--purple),
        var(--pink),
        var(--pink)
    );
}

html, body {
    height: 100%;
    width: 100%;
    background-image: url("https://img.goodfon.com/original/1920x1080/0/b5/nebula-galaxy-stars-colors.jpg");
    background-position: fixed;
    background-size: cover;
    backdrop-filter: blur(5px);
    color: var(--white);
    overflow: hidden;
}

/*WINDOW FRAME (over background)*/
.window {
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px) brightness(0.9);
}

/*FORM COMPONENTS*/
input {
    padding: 7px 15px;
    border-radius: 3px;
    border: solid 1px var(--white);
    background-color: transparent;
    color: white;
}

input[type=text]:focus {
    border: solid 1px var(--pink);
    outline: none;
}
input[type=text]:focus + label {
    color: var(--pink);
}

.input-bloc {
    flex-direction: column-reverse;
    gap: 5px;
}

/*BUTTON*/
button[type=submit] {
    margin: 5% 0;
    color: white;
    font-weight: bold;
    border: none;
}

button:hover {
    transition: 0.05s ease-in-out;
    filter: brightness(0.7);
}

button.update-button {
    font-weight: normal;
    border-radius: 20px;
    border: solid 0.5px var(--white);
    color: var(--white);
}

button.update-button:hover {
    filter: brightness(1);
    border: solid 0.5px var(--white);
    background-color: var(--blue);
}

button:focus {
    filter: brightness(0.7);
}

/*HORIZONTAL LINE + WORDS IN MIDDLE*/
.separator-line-text {
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    gap: 0.8rem;
}

.separator-line-text::before, .separator-line-text::after {
    content: "";
    height: 0.5px;
    width: 80px;
    display: block;
    background-color: white;
}