@import url("../utils/utils.css");
@import url("../utils/components.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.07rem;
}

.hidden {
    display: none;
}

.invisible {
    opacity: 0;
}

.vertical-alignment {
    display: flex;
    flex-direction: column;
}

.horizontal-alignment {
    display: flex;
    flex-direction: row;
}

.vertical-center {
    display: flex;
    justify-content: center;
}

.horizontal-center {
    display: flex;
    align-items: center;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}